/* font-family CSS Style */
@font-face {
  font-family: 'Nanum-Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/NanumGothic.eot');
  src: url('~@/assets/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/NanumGothic.woff2') format('woff2'),
      url('~@/assets/fonts/NanumGothic.woff') format('woff');
      // url('~@/assets/fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum-Gothic-Extra-Bold';
  font-style: normal;
  font-weight: 800;
  src: url('~@/assets/fonts/NanumGothic-ExtraBold.eot');
  src: url('~@/assets/fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/NanumGothic-ExtraBold.woff2') format('woff2'),
      url('~@/assets/fonts/NanumGothic-ExtraBold.woff') format('woff');
      // url('~@/assets/fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum-Gothic-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/NanumGothic-Bold.eot');
  src: url('~@/assets/fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('~@/assets/fonts/NanumGothic-Bold.woff2') format('woff2'),
      url('~@/assets/fonts/NanumGothic-Bold.woff') format('woff');
      // url('~@/assets/fonts/NanumGothic-Bold.ttf') format('truetype');
}
